#logo{
    background-color: #ebeff5;
}

body{
    background-color: #ebeff5;
}

#monthly-return{
    background-color: #4cb4c7;
}

#annual-return{
    background-color: #7abecc;
}

#goods-total{
    background-color: #7CD1C0;
}