#logo{
    background-color: #ebeff5;
}

body{
    background-color: #ebeff5;
}

#investments-total{
    background-color: #4cb4c7;
}

#spends-total{
    background-color: #cc7a7a;
}

#goods-total{
    background-color: #7CD1C0;
}