{% extends 'first_app/template.html' %}

{% block content %}

<div class="container h-100" name = "form-container">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">
                    Registrar nova conta
                </h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password1}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password2}}
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-success" type="submit" value="Criar conta">
                    </div>
                </form>
            </div>
            {{form.errors}}
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <p>Já possui uma conta?</p>
                    <br>
                    <a href="{% url 'login' %}" class="ml-2">
                        <button class="btn login_btn">
                            Entrar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Nome de usuário..';
    form_fields[2].placeholder='E-mail..';
    form_fields[3].placeholder='Senha...';
    form_fields[4].placeholder='Coloque a senha novamente...';


    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>

{% endblock %}