{% extends 'first_app/main.html' %}

{% block content %}

{%  include 'first_app/status.html' %}

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <h5>
                Monthly Budget Calculation:
            </h5>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Jan</th>
                            <th scope="col">Feb</th>
                            <th scope="col">Mar</th>
                            <th scope="col">Apr</th>
                            <th scope="col">May</th>
                            <th scope="col">Jun</th>
                            <th scope="col">Jul</th>
                            <th scope="col">Aug</th>
                            <th scope="col">Sep</th>
                            <th scope="col">Oct</th>
                            <th scope="col">Nov</th>
                            <th scope="col">Dec</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Total Profit</th>
                            {% for profit in result %}
                                <td>{{profit.0}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="col">Total Spend</th>
                            {% for profit in result %}
                                <td>{{profit.1}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="col">Sum</th>
                            {% for profit in result %}
                                <td>{{profit.2}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <h5>
                Budget Records Table:
            </h5>
            <hr>
            <div class="table-responsive">
                <a class="btn btn-primary btn-hover btn-block" href="{% url 'add' %}">
                    Add records
                </a>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Value</th>
                        <th>Month</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for register in budget_registers %}
                        <tr>
                            <td>{{register.name}}</td>
                            <td>{{register.category}}</td>
                            <td>{{register.value}}</td>
                            <td>{{register.month}}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update' register.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete' register.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock  %}>