{% extends 'first_app/main.html' %}

{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">
                TODO
            </h1>
            <p>
                TODO Colocar aqui informações explicativas
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Time Management
                </h2>
                <p>
                    TODO Colocar aqui explicação de como funciona o Time Mangement 
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'time' %}" role="button">
                        Time Management &raquo;
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <h2>
                    Budget Control
                </h2>
                <p>
                    TODO Colocar aqui explicação de como funciona o Budget Control
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'budget' %}" role="button">
                        Budget Control &raquo;
                    </a>
                </p>
            </div>
        </div>
        <hr>
    </div>
</main>

{% endblock %}