<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="investments-total">
                  <div class="card-header">
                      <h5 class="card-title">
                        Valor Total dos Investimentos
                    </h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">
                      {{investments_sum}}
                    </h3>
                  </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="spends-total">
                  <div class="card-header">
                      <h5 class="card-title">
                        Valor Total das Despesas
                    </h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">
                      {{spends_sum}}
                    </h3>
                  </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="goods-total">
                  <div class="card-header">
                      <h5 class="card-title">
                        Valor Total das Receitas
                    </h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">
                        {{profits_sum}}
                    </h3>
                  </div>
            </div>
        </div>
    </div>
</div>